.description.about
    h2.description-title
        | Все для вашего комфорта
    p.description-text
        | Задачи повышения конкурентоспособности компаний на международном и отечественном рынках требуют принятия решительных мер в сфере совершенствования методов управления используя опыт лидеров рынка и лучших мировых практик. Для развивающихся компаний, компаний работающих в востребованных, перспективных отраслях,  компаний связанных с ВЭД, вопросы оптимизации структуры, совершенствования системы управления стоят особенно остро.
    br

    p.description-text
        | КОМПАНИЯ  TML Ltd. (ООО «Ти эМ эЛ»), созданная в 2002 году группой опытных специалистов в области управленческого консультирования, специализируется  на оптимизации деятельности и повышении эффективности управления компаниями за счет внедрения современных подходов к управлению.
    a(href="#").description-details
        | Подробнее