.catalog
    .row
        +catalog(
            'Бойлеры ГВС',
            'catalog-pic-1.jpg')
        +catalog(
            'Теплоаккумуляторы для ГВС',
            'catalog-pic-2.jpg')
        +catalog(
            'Гидроаккумуляторы',
            'catalog-pic-3.jpg')
        +catalog(
            'Теплоаккумуляторы для систем отопления',
            'catalog-pic-4.jpg')