.description
    h2.description-title
        | Работаем для Вас
    p.description-text
        | Гамма электрических водонагревателей, оборудованных высокоплотной изоляцией. Данные водонагреватели оборудованы изолированным стеатитовым нагревательным элементом во избежание контакта с водой и с целью продления срока службы водонагревателя.