.features
    .row
        .col-xs-3
            .features-item
                .features-icon
                .features-title
                    | Долгая история
        .col-xs-3
            .features-item
                .features-icon
                .features-title
                    | Современное оборудование
        .col-xs-3
            .features-item
                .features-icon
                .features-title
                    | Продуцкия соответствует мировым стандартам
        .col-xs-3
            .features-item
                .features-icon
                .features-title
                    | Специализируемся только на бочках и бойлерах