.footer
    .footer-top
        .container
            .row.between-xs
                .col-xs
                    .logo
                        a(href="#")
                            img(src="img/logo.png", alt="logo")
                .col-xs
                    a(href="#")| Бойлеры гвс
                .col-xs
                    a(href="#")| Теплоаккумуляторы для гвс
                .col-xs
                    a(href="#")| Гидроаккумуляторы
                .col-xs
                    a(href="#")| Теплоаккумуляторы для отопления
    .footer-bottom
        .container
            .row.between-xs.middle-xs
                .col-xs-3
                    .search
                        input(type="search" placeholder="поиск" maxlength="255")
                .col-xs-5
                    .copyright
                        p| © 2015. TML industrie loddo — 	теплогазоснабжение и вентиляция
                .col-xs-4.end-xs
                    .studio
                        a(href="http://aevrika.ru")
                            | РАЗРАБОТКА И ПРОДВИЖЕНИЕ САЙТОВ