main
    .container
        block features
            //FEATURES
            include features
            //FEATURES ens
        block description
            //DESCRIPTION
            include description
            //DESCRIPTION ens
        block catalog
            //CATALOG
            include catalog
            //CATALOG ends
