menu
    .container
        nav.menu(role='navigation')
            ul.row.middle-xs.between-xs
                li: a(href="#") о компании
                li: a(href="#") наша продукция
                li: a(href="#") доставка и оплата
                li: a(href="#") техническая информация
                li: a(href="#") где купить
                li
                    .search
                        input(type="search" placeholder="поиск" maxlength="255")