mixin list(items)
    ul&attributes(attributes)
        each item in items
            li
                - var linkatts = {'href': item.link}
                a()&attributes(linkatts)= item.title

mixin slide(path,title,text)
    .slide
        img(data-flickity-lazyload='img/'+path, alt="#{title}")
        .slide-overlay
            .container
                .slide-wrap
                    h1.slide-title=title
                    p.slide-text=text