block var
    include var

include mixin

doctype html

html(lang="en")

    head
        title
            block title
                | #{pageTitle}
        block meta
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(name="description" content="Desctiption of #{thisPage.toLowerCase()} page")
        block link
            link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic', rel='stylesheet')

            link(rel="icon" type="image/png" href="favicon.png" sizes="96x96")
            link(rel="stylesheet" href="css/style.css")
    body
        block script
            //script
            if siteScript
                script(src="js/main.js")
            //script ends