@import 'normalize';

ul,
ol {
  margin: 0;
  padding: 0;
}

@import 'utilities';
@import 'font';

html {
  background: #fff;
}

body {
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
