@import 'normalize';

ul,
ol {
  margin: 0;
  padding: 0;
}

@import 'utilities';
@import 'font';

html {
  background: #fff;
}

body {
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//TEST RULES

body {
  height: 100%;

  background-image: url(../img/pic/top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1 {
  margin: 0;

  color: #111;
  text-shadow: 1px 1px 1px #f2f2f2,
  -1px -1px 1px #f2f2f2;

  font-family: monospace;
  line-height: 200%;
}

.icon {
  display: inline-block;

  width: 1em;
  height: 1em;

  vertical-align: middle;

  fill: rgb(39, 27, 224);
  stroke: #f4f4f4;
}
