/* RESET */

* {
  box-sizing: border-box;
}

html {
  background-color: #fff;

  font-size-adjust: 100%;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

main,
li {
  display: block;

  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;

  cursor: pointer;
  letter-spacing: inherit;

  border: 0;
  outline: 0;
  background: none;

  font: inherit;

  -webkit-font-smoothing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* RESET ends */

@import 'utilities';
@import 'font';

//TEST RULES

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: azure;

  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;

  color: #111;

  font-family: monospace;
  font-size: 2.5em;
  line-height: 200%;
}

.icon {
  width: 3em;
  height: 3em;

  fill: deepskyblue;
  stroke: dimgray;
}
