.catalog-item {
  width: 220px;
  height: 355px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #fff;
}

.catalog-title {
  padding-top: 22px;

  text-align: center;
  span {
    border-bottom: 1px solid #b4b4b4;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
  }
}

.catalog-img {
  margin-top: 24px;

  text-align: center;

  outline: 1px dashed black;

  img {
    outline: 1px dashed red;
  }
}
