.description {
  width: 100%;
  margin-top: em(45);
}
.description-title {
  margin-bottom: 1.182em;

  color: #333;

  font-size: 22px;
  font-weight: 700;
}

.description-text {
  font-size: 18px;
  line-height: 1.3;
}

.description-details {
  display: inline-block;

  margin-top: 1.111em;

  color: $main-blue-color;
  border-bottom: 1px solid $main-blue-color;

  font-size: em(18);
}
