.description {
  width: 100%;
  margin-top: em(45);
}
.description-title {
  margin-bottom: 1.182em;

  color: #333;

  font-size: 22px;
  font-weight: 700;
}

.description-text {
  font-size: 18px;
  line-height: 1.3;
}
