.features {
  position: relative;
  z-index: 2;

  width: 100%;
  height: em(162);
  margin-top: em(-80);

  background-color: #fff;
  box-shadow: 0 .313em 0 #e8e8e8;
}

.features-item {
  padding-top: em(25);
  padding-right: em(25);
  padding-left: em(25);
}

.features-icon {
  width: em(64);
  height: em(64);
  margin: 0 auto;
  margin-bottom: em(24);

  background-image: url(../img/icons-features.png);
  background-repeat: no-repeat;
}

.col-xs-3:nth-child(1) .features-icon {
  background-position: 0 0;
}

.col-xs-3:nth-child(2) .features-icon {
  background-position: -64px 0;
}

.col-xs-3:nth-child(3) .features-icon {
  background-position: -128px 0;
}

.col-xs-3:nth-child(4) .features-icon {
  background-position: -192px 0;
}

.features-title {
  text-align: center;
  text-transform: uppercase;

  font-size: em(14);
  line-height: 1.3;
}
