header {
  width: 100%;
  height: 88px;
  padding-top: 14px;
}

.logo {
  min-width: 152px;
}

.question-icon {
  padding-left: 38px;

  text-transform: uppercase;

  color: $dark-text-color;
  background-image: url(../img/icon-question.png);
  background-repeat: no-repeat;
  background-position: 0 0;

  font-size: 14px;
  line-height: 24px;
}
