header {
  width: 100%;
  height: em(88);
  padding-top: em(14);
}

.logo {
  min-width: em(152);
}

.question-icon {
  padding-left: 2.714em;

  text-transform: uppercase;

  color: $dark-text-color;
  background-image: url(../img/icon-question.png);
  background-repeat: no-repeat;
  background-position: 0 0;

  font-size: em(14);
  line-height: 1.72em;
}
