menu {
  width: 100%;
  height: em(60);
  margin: 0;
  margin-bottom: em(25);
  padding: 0;

  background-color: #333;
}

.dropdown {
  position: relative;

  &:hover > ul {
    display: block;
  }
}

.menu-main > li {
  margin: 0;
  padding: 0;
   > a {
    display: block;

    padding-top: 1.643em;
    padding-right: 1.6em;
    padding-bottom: 1.643em;
    padding-left: 1.6em;

    text-transform: uppercase;

    color: #f4f4f4;

    font-size: em(14);
    font-weight: 700;

    &:hover {
      background-color: $main-blue-color;
    }
  }

  &:first-child a {
    padding-left: 0;
  }
  &:last-child a {
    padding-right: 0;
  }
}

[class^='menu-submenu-'] {
  position: absolute;
  z-index: 2;

  display: none;

   > li {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: center;

     > a {
      height: 100%;
      padding-top: em(15);
      padding-right: em(25);
      padding-bottom: em(15);
      padding-left: em(25);

      font-size: em(16);
      line-height: 1.2;

      span {
        border-bottom: 1px solid rgba(255,255,255,.3);
      }
    }
  }
}

.menu-submenu-2 {
  top: em(60);

  width: em(243);

  background-color: $main-blue-color;

   > li {
    &:hover {
      background-color: #555;
    }

     > a {
      color: #fff;
    }
  }
}

.menu-submenu-2 > li:hover .caret:after {
  border-left: .250em solid #555;
}

.menu-submenu-3 {
  top: 0;
  left: 100%;

  width: 215px;

  background-color: #555;

   > li {
     > a {
      padding-right: em(22);
      padding-left: em(22);

      color: #888;

      &:hover {
        color: #fff;
      }
    }
  }
}

.caret-wrapper {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(100% - 6px);
}

.caret {
  position: relative;

  -moz-transform: scale(.9999);
}

.caret:before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';

  border-top: .375em solid transparent;
  border-bottom: .375em solid transparent;
  border-left: .375em solid #fff;
}

.caret:after {
  position: absolute;
  top: .125em;
  left: 0;

  content: '';

  border-top: .250em solid transparent;
  border-bottom: .250em solid transparent;
  border-left: .250em solid $main-blue-color;
}

.search {
  width: em(177);

  input {
    width: 100%;
    height: 4.286em;
    padding-top: 1.429em;
    padding-right: 1.571em;
    padding-bottom: 1.429em;
    padding-left: 3.429em;

    text-transform: uppercase;

    color: #898989;
    border: none;
    outline: none;
    background-color: #282828;
    background-image: url(../img/icon-search.png);
    background-repeat: no-repeat;
    background-position: 1.571em center;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: em(14);
    font-weight: 300;

    &:focus {
      padding-left: 1.571em;

      background-image: none;
    }
  }
}
