@import 'flickity';

.slider {
  overflow: hidden;

  max-width: 1350px;
  height: 418px;
  margin: 0 auto;
}

.slide {
  position: relative;

  width: 100%;
  margin: 0 auto;

  background-color: rgba(0,0,0,.5);
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.35);
}

.slide-wrap {
  width: 44.500em;
  margin: 0 auto;

  color: #fff;
}

.slide-title {
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 72px;
  font-weight: 700;
}

.slide-text {
  font-size: 18px;
  line-height: 1.3;
}

.flickity-prev-next-button,
.flickity-prev-next-button:hover {
  background: none;
}

.flickity-prev-next-button:focus {
  box-shadow: none;
}

.flickity-prev-next-button .arrow {
  opacity: .5;

  fill: #fff;
}

.flickity-prev-next-button {
  top: 8.750em;

  width: 6.625em;
  height: 6.625em;

  transform: none;
}

.flickity-prev-next-button.previous {
  right: auto;
  left: 10.125em;
}

.flickity-prev-next-button.next {
  right: 10.125em;
}

.flickity-page-dots {
  bottom: 7.813em;
  left: -20.188em;
}

.flickity-page-dots .dot {
  width: .750em;
  height: .750em;

  opacity: 1;
  border: none;
  background: #333;
}

.flickity-page-dots .dot.is-selected {
  background: $main-blue-color;
}
