extends inc/temp

append var
    - var thisPage = 'Home'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

    h1 Startup
        i
            svg.icon
                use(xlink:href="img/sprite.svg#icon-rocket")