extends inc/temp

append var
    - var thisPage = 'Home'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

    header
        .container
            .row.between-xs.middle-xs.end-xs
                .col-xs-2.start-xs
                    .logo
                        a(href="#")
                            img(src="img/logo.png", alt="logo")
                .col-xs-2
                    .question.row.middle-xs.end-xs
                        .question-icon
                        .question-text
                            | задать вопрос