extends inc/temp

append var
    - var thisPage = 'Home'
    - var pageTitle = pageTitle.concat(' | ' + thisPage)

    i
        svg.icon
            use(xlink:href="img/sprite.svg#icon-rocket")
    h1 startup